<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NULDEMOConnectionString" connectionString="Data Source=.;Initial Catalog=NULDEMO;Persist Security Info=True;User ID=sa;Password=It123456!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SettingFilePath" value="Settings.xlsx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
